.content {

  margin-left: 250px;
  /* Mesmo valor da largura do sidebar */
  padding: 20px;
  transition: all 0.3s;
}

nav {
  width: 100vw;
  height: 30px;
  background-color: rgb(53, 53, 53);;
  position: absolute;
  top: 0;
  padding-left: 250px;
  transition: all 0.3s;
}

.MenuOpen {
  margin-left: 0px;
}

.MenuOpenNav {
   button{
    position: relative;
    left: -220px;
   }
}

.menu-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #FFF;
}

.sidebar li a:hover {
  background-color: rgb(83, 83, 83);
  color: #fff;
  cursor: pointer;
}